#archivos de proyecto (TP JUANITO ya no es un proyecto)
.project
.cproject

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
/Plataforma
